@model IEnumerable<AdminLTE.ViewModels.StudentViewModel>

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Update</h1>

<script type="text/javascript">
        @*@Model.JavascriptToRun*@
        function ShowErrorPopup() {
            alert('Sorry, we could not process your order.');
        }
</script>
